body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

i.checkmark
  margin-top: -1.3em
  font-size: 1.5em
  margin-right: 0.2em

div.has-success i
  color: green

div.has-error i
  color: red

select#process
  width: 13em
  margin-right: 5px

.row
  height: 1.8em

.label
  font-size: 95%