extends layout

block content
    div.container
        h1= title
    
        form
            fieldset
                legend BCS Migration Tool

                div.form-group
                    label.control-label(for='bcs') BCS 4.0 Device:
                    input.form-control(type='url', id='bcs', placeholder='http://192.168.1.5/')
                    i.icon-ok.pull-right.checkmark

                div.form-group
                    label.control-label(for='configFile') BCS 3.x Configuration File:
                    input.invalid.form-control(type='file', id='configFile')
                    i.icon-ok.pull-right.checkmark

                button.btn.btn-primary.disabled Begin Migration

    script(src='javascripts/index.js')