extends layout

block content
    div.container
        h1= title
    
        form(action='/migrate', method="post", enctype="multipart/form-data")
            fieldset
                legend BCS Migration Tool

                div.form-group
                    label.control-label(for='bcs') BCS 4.0 Device:
                    input.form-control(type='url', id='bcs', name='bcs', placeholder='http://192.168.1.5/')
                    i.icon-ok.pull-right.checkmark

                div.form-group
                    label.control-label(for='configFile') BCS 3.x Configuration File:
                    input.form-control(type='file', id='configFile', name='configFile')
                    i.icon-ok.pull-right.checkmark

                button.btn.btn-primary.disabled(id='migrate') Begin Migration

    .modal.fade(id='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Migrating Configuration
                .modal-body


    div#process-selector(style='display:none')
        form.form-inline
            fieldset
                select.form-control(id='process', name='process')

                button.btn.btn-primary(id='update-process') Update Process
        

    div#progress(style='display:none')
        .progress
            .progress-bar.progress-bar-success(style='width: 0%', role='progressbar', aria-valuenow='0')
            .progress-bar.progress-bar-danger(style='width: 0%', role='progressbar', aria-valuenow='0')

    script(src='javascripts/index.js')