doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset="utf-8")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    script(src='http://code.jquery.com/jquery.js')
    script(src='http://malsup.github.com/jquery.form.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js')
  body
    block content
    script(src='/bootstrap/js/bootstrap.js')
